
    <div class="container">
      <h1>Add Rental</h1>
      <form action="/rentals/add" method="POST">
        <div class="form-group">
          <label for="headline">Headline:</label>
          <input type="text" id="headline" name="headline" class="form-control" >
        </div>
        <div class="form-group">
          <label for="numSleeps">Number of Sleeps:</label>
          <input type="number" id="numSleeps" name="numSleeps" class="form-control" min="0" max="100" >
        </div>
        <div class="form-group">
          <label for="numBedrooms">Number of Bedrooms:</label>
          <input type="number" id="numBedrooms" name="numBedrooms" class="form-control" min="0" max="100" >
        </div>
        <div class="form-group">
          <label for="numBathrooms">Number of Bathrooms:</label>
          <input type="number" id="numBathrooms" name="numBathrooms" class="form-control" min="0" max="100" >
        </div>
        <div class="form-group">
          <label for="pricePerNight">Price per Night:</label>
          <input type="number" id="pricePerNight" name="pricePerNight" class="form-control" min="0.01" step="0.01" >
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" id="city" name="city" class="form-control" >
        </div>
        <div class="form-group">
          <label for="province">Province:</label>
          <input type="text" id="province" name="province" class="form-control" >
        </div>
        <div class="form-group">
          <label for="imageUrl">Image:</label>
          <input type="file" id="imageUrl" name="imageUrl" class="form-control-file" >
        </div>
        <div class="form-group">
          <input type="checkbox" id="featuredRental" name="featuredRental" class="form-check-input">
          <label for="featuredRental" class="form-check-label">Featured Rental</label>
        </div>
        <button type="submit" class="btn btn-primary">Add Rental</button>
      </form>
    </div>
 