
	<h1>Delete Rental Document Confirmation</h1>
	<p>Are you sure you want to delete this rental document?</p>
	<form method="POST" action="/rentals/remove/{{id}}">
		 <a class="btn btn-secondary mx-1" href="/rentals/list">Cancel</a>
		<button type="submit">Yes, Delete</button>
	</form>
	<a href="/rentals">Cancel</a>
